#blobCanvas {
	position: absolute;
	background-image: url("/inflicted.jpg");

}

body {
	overflow: hidden;
	mouse: pointer;
}

#wrapper {
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-repeat: repeat;
}



